

body1 {
    color:003366;
    background-image: url("ptown.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    }
.answer{
  	background-color: skyblue;
} 
